openapi: 3.0.2
info:
  title: FG-AI4H-OCI Platform
  description: >
    'FG-AI4H Open Code Initiative Platform'
  termsOfService: https://github.com/FG-AI4H/annotation-tool/blob/master/LICENSE
  contact:
    email: ml@mllab.ai
  license:
    name: BSD 3-Clause License
    url: https://github.com/FG-AI4H/annotation-tool/blob/master/LICENSE
  version: 2023-02-20
servers:
  - url: https://annotation.ai4h.net/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Development server
tags:
  - name: Campaign
    description: Everything about annotation campaign
  - name: Dataset
    description: Operation about dataset management
  - name: DatasetRole
    description: Operation about dataset role management
  - name: Task
    description: Operation about annotation tasks
  - name: User
    description: Operations about users
  - name : Tool
    description: operations about tools
  - name: Catalog
    description: operations about data catalogs

components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserDto:
      type: object
      properties:
        id:
          description: Id of the user
          type: string
          format: uuid
        username:
          description: User name
          type: string
        idp_id:
          description: Unique identifier generated from the SSO token
          type: string
        birthdate:
          description: Birthdate of user
          type: string
        timezone:
          description: Timezone of user
          type: string
        email:
          description: Email of user
          type: string
        expertise:
          description: Expertise
          type: string
        work_country:
          description: Working country
          type: string
        study_country:
          description: Study country
          type: string
        degree:
          description: Study degree
          type: string
        years_in_practice:
          description: Years in practice
          type: integer
          minimum: 0
          maximum: 100
        annotator_role:
          $ref: '#/components/schemas/AnnotatorDto'
        reviewer_role:
          $ref: '#/components/schemas/ReviewerDto'
        supervisor_role:
          $ref: '#/components/schemas/SupervisorDto'

    DatasetDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        storage_location:
          type: string
        linked:
          type: boolean
        catalog_location:
          type: string
        catalog_auth_type:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        data_catalog_id:
          type: string
          format: uuid
        metadata:
          $ref: '#/components/schemas/DatasetMetadataDto'
        visibility:
          $ref: '#/components/schemas/DatasetVisibility'
        request_status:
          $ref: '#/components/schemas/DatasetCatalogRequestStatusDto'
    DatasetMetadataDto:
      type: object
      properties: 
        id:
          type: string
          format: uuid
        data_collection_authors_agency:
          type: string
        data_acceptance_standards_compliance:
          type: string
        data_acquisition_sensing_device_type:
          type: string
        data_acquisition_sensing_modality:
          type: string
        data_annotation_process_tool:
          type: string
        data_assumptions_constraints_dependencies:
          type: string
        data_bias_and_variance_minimization:
          type: string
        data_collection_funding_agency:
          type: string
        data_collection_period:
          type: string
        data_collection_place:
          type: string
        data_dimension:
          type: string
        data_exclusion_criteria:
          type: string
        data_owner_id:
          type: string
          format: uuid
        data_owner_name:
          type: string
        data_preprocessing_techniques:
          type: string
        data_privacy_de_identification_protocol:
          type: string
        data_registry_url:
          type: string
        data_resolution_precision:
          type: string
        data_safety_security_protocol:
          type: string
        data_sample_size:
          type: string
        data_sampling_rate:
          type: string
        data_source:
          type: string
        data_type:
          type: string
        data_update_version:
          type: string
        train_tuning_eval_dataset_partitioning_ratio:
          type: string
        version:
          type: string
    DatasetVisibility:
      type: string
      enum:
        - PRIVATE
        - PUBLIC
    DatasetRoleDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
        updated_at:
          type: string
        dataset:
          type: string
          format: uuid
        user:
          type: string
          format: uuid
        username:
          type: string
        user_role:
          $ref: '#/components/schemas/UserRole'
    DatasetCatalogRequestStatusDto:
      type: string
      enum:
        - PENDING
        - APPROVED
        - REJECTED
        - DEPRECATED
    UserRole:
      type: string
      enum:
        - OWNER
        - CONTRIBUTOR
        - READER
    CampaignDto:
      type: object
      properties:
        id:
          description: Id of the campaign
          type: string
          format: uuid
        name:
          description: Name of the campaign
          type: string
        description:
          description: Description of the campaign
          type: string
        status:
          $ref: '#/components/schemas/CampaignStatus'
        annotation_kind:
          $ref: '#/components/schemas/AnnotationKind'
        annotation_tool:
          description: The annotation tool selected for the campaign (UI tool)
          type: string
        pre_annotation_tool:
          description: The pre-annotation tool selected to pre-process the annotations
          type: string
        pre_annotation_model:
          description: The model selected for the pre-annotation tool
          type: string
        annotation_method:
          $ref: '#/components/schemas/AnnotationMethod'
        annotation_instructions:
          type: string
        quality_assurance:
          type: string
        is_instance_label:
          type: boolean
          default: false
        min_annotation:
          type: integer
        class_label:
          description: A list of possible classes for classification tasks
          type: array
          items:
            $ref: '#/components/schemas/ClassLabelDto'
        datasets:
          type: array
          items:
            type: string
            format: uuid
        annotators:
          items:
            type: string
            format: uuid
        reviewers:
          items:
            type: string
            format: uuid
        supervisors:
          items:
            type: string
            format: uuid
    AnnotationKind:
      description: Kind of annotation as defined in FG-AI4H-DEL5.3
      type: string
      enum:
        - SEMANTIC_SEGMENTATION
        - IMAGE_CLASSIFICATION
        - OBJECT_DETECTION
        - POSE_ESTIMATION
        - SYNTHETIC_CASE
    AnnotationMethod:
      description: Method of annotation as defined in FG-AI4H-DEL5.3
      type: string
      enum:
        - FULL_IMAGE
        - BOUNDING_BOX
        - POLYGONS
        - KEYPOINT
        - POLYLINES
        - ELISPE_CIRCLE
        - CUBOID
        - STRAIGHT_LINES
        - QUADRATIC_CURVES
        - SYNTHETIC_CASE
    CampaignStatus:
      description: Status of the campaign
      type: string
      enum:
        - DRAFT
        - READY
        - RUNNING
        - COMPLETED
        - ARCHIVED
    ClassLabelDto:
      type: object
      description: A class label
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
    AnnotatorDto:
      description: An annotator
      type: object
      properties:
        id:
          description: Id of the annotator
          type: string
          format: uuid
        expected_salary:
          description: Expected salary
          type: number
          format: float
        self_assessment:
          description: Self assessment grade
          type: integer
          minimum: 0
          maximum: 10

    ReviewerDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        expected_salary:
          description: Expected salary
          type: number
          format: float
        self_assessment:
          description: Self assessment grade
          type: integer
          minimum: 0
          maximum: 10
    SupervisorDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        expected_salary:
          description: Expected salary
          type: number
          format: float
        self_assessment:
          description: Self assessment grade
          type: integer
          minimum: 0
          maximum: 10
    TaskDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        kind:
          $ref: '#/components/schemas/TaskKind'
        read_only:
          type: boolean
        assignee:
          type: string
          format: uuid
        assignee_username:
          type: string
        campaign:
          type: string
          format: uuid
        campaign_status:
          $ref: '#/components/schemas/CampaignStatus'
        campaign_task_kind:
          type: string
        annotation_tasks:
          type: array
          items:
            $ref: '#/components/schemas/AnnotationTaskDto'
        samples:
          type: array
          items:
            $ref: '#/components/schemas/SampleDto'
        annotations:
          type: array
          items:
            type: string
            format: uuid
    AnnotationTaskDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        kind:
          $ref: '#/components/schemas/AnnotationKind'
        title:
          type: string
        description:
          type: string
    SampleDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        data_url:
          type: string
    AnnotationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        task:
          type: string
          format: uuid
        status:
          type: string
        data:
          type: array
          items:
            type: string
            format: uuid
        submitted_at:
          type: string
    AnnotationDataDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        data:
          type: string
        annotation:
          type: string
          format: uuid
    TaskKind:
      type: string
      enum:
        - CREATE
        - CORRECT
        - REVIEW
    AnnotationToolDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        editor:
          type: string
        annotation_tasks:
          type: array
          items:
            $ref: '#/components/schemas/AnnotationTaskDto'
    DataCatalogDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        provider:
          type: string
        provider_catalog_id:
          type: string
        location:
          type: string
        database_name:
          type: string
        aws_region:
          type: string
        bucket_name:
          type: string
    TableDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
    DataAccessRequestDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        request_date:
          type: string
        request_status:
          $ref: '#/components/schemas/DatasetCatalogRequestStatusDto'
        request_status_date:
          type: string
        motivation:
          type: string
        requester_id:
          type: string
          format: uuid
        requester_name:
          type: string
        data_owner_id:
          type: string
          format: uuid
        data_owner_name:
          type: string
        dataset_name:
          type: string
        dataset_id:
          type: string
          format: uuid
paths:
  /admin/users:
    get:
      tags:
        - Admin
      summary: Get remote users
      description: Returns the list of remote users
      operationId: retrieveAllUsers
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDto'
        '404':
          description: Current user doesn't exist
          content: { }
  /users:
    get:
      tags:
        - User
      summary: Get local users
      description: Returns the list of local users
      operationId: getAllUsers
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDto'
        '404':
          description: Current user doesn't exist
          content: { }
  /users/current:
    get:
      tags:
        - User
      summary: Returns current user
      description: Returns the current user given JWT token
      operationId: getCurrentUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: Current user doesn't exist
          content: { }
  /users/{user_id}:
    get:
      tags:
        - User
      summary: Returns user
      description: Returns the user of given user_id
      operationId: getUserById
      parameters:
        - name: user_id
          in: path
          description: User Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: Given user ID doesn't exist
          content: { }
    put:
      tags:
        - User
      summary: Update the user
      description: Update the given user
      operationId: updateUser
      parameters:
        - name: user_id
          in: path
          description: User Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: New User object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDto'
      responses:
        '204':
          description: User updated successfully
        '500':
          description: Given user ID doesn't exist
          content: { }

  /annotators/{annotator_id}:
    get:
      tags:
        - User
      summary: Returns annotator
      description: Returns the annotator of given user_id
      operationId: getAnnotatorById
      parameters:
        - name: annotator_id
          in: path
          description: Annotator Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotatorDto'
        '404':
          description: Given annotator ID doesn't exist
          content: { }
  /reviewers/{reviewer_id}:
    get:
      tags:
        - User
      summary: Returns reviewer
      description: Returns the reviewer of given user_id
      operationId: getReviewerById
      parameters:
        - name: reviewer_id
          in: path
          description: Reviewer Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewerDto'
        '404':
          description: Given reviewer_id ID doesn't exist
          content: { }
  /supervisors/{supervisor_id}:
    get:
      tags:
        - User
      summary: Returns supervisor
      description: Returns the supervisor of given user_id
      operationId: getSupervisorById
      parameters:
        - name: supervisor_id
          in: path
          description: Supervisor Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupervisorDto'
        '404':
          description: Given supervisor ID doesn't exist
          content: { }

  /campaigns:
    get:
      tags:
        - Campaign
      summary: List all the campaigns
      description: List all the campaigns
      operationId: getAllCampaigns
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignDto'
        '404':
          description: Error occured
          content: { }
    post:
      tags:
        - Campaign
      summary: Creates a new campaign for the given campaign request
      description: Creates a new campaign for the given campaign request.
      operationId: addCampaign
      requestBody:
        description: New Campaign Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignDto'
      responses:
        '201':
          description: Campaign added successfully

  /campaigns/{campaign_id}:
    get:
      tags:
        - Campaign
      summary: Returns a campaign
      description: Returns the campaign of given campaignId
      operationId: getCampaignById
      parameters:
        - name: campaign_id
          in: path
          description: Campaign Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDto'
        '404':
          description: Given campaignId ID doesn't exist
          content: { }
    put:
      tags:
        - Campaign
      summary: Updates a new campaign for the given campaign request
      description: Updates a new campaign for the given campaign request.
      operationId: updateCampaign
      parameters:
        - name: campaign_id
          in: path
          description: Campaign Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Campaign Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignDto'
      responses:
        '204':
          description: Campaign updates successfully
        '500':
          description: Error occured
          content: { }
    delete:
      tags:
        - Campaign
      summary: Delete a campaign
      description: Delete the campaign of given campaignId
      operationId: deleteCampaignById
      parameters:
        - name: campaign_id
          in: path
          description: Campaign Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given campaignId ID doesn't exist
          content: { }
  /campaigns/{campaign_id}/start:
    post:
      tags:
        - Campaign
      summary: Starts the campaign for the given campaign id
      description: Starts the campaign for the given campaign id
      operationId: startCampaign
      parameters:
        - name: campaign_id
          in: path
          description: Campaign Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Campaign started successfully
        '500':
          description: Error occured
          content: { }
  /campaigns/{campaign_id}/generate_tasks:
    post:
      tags:
        - Campaign
      summary: Generate the tasks for the given campaign id
      description: Generate the tasks for the given campaign id
      operationId: generateTasks
      parameters:
        - name: campaign_id
          in: path
          description: Campaign Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Tasks generated successfully
        '500':
          description: Error occured
          content: { }
  /datasets:
    get:
      tags:
        - Dataset
      summary: List all the datasets
      description: List all the datasets
      operationId: getAllDatasets
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetDto'
        '404':
          description: Error occured
          content: { }
    post:
      tags:
        - Dataset
      summary: Creates a new dataset for the given dataset request
      description: Creates a new dataset for the given dataset request.
      operationId: addDataset
      requestBody:
        description: New dataset Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '201':
          description: Dataset added successfully
  /datasets/catalog:
    get:
      tags:
        - Dataset
      summary: List all the datasets from all catalog
      description: List all the datasets from all catalog
      operationId: getCatalogDatasets
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetDto'
        '404':
          description: Error occured
          content: { }
  /datasets/catalog/request:
    post:
      tags:
        - Dataset
      summary: Creates request to link dataset to dataset owner
      description: Creates request to link dataset to dataset owner
      operationId: requestAccessToCatalogDataset
      requestBody:
        description: Dataset catalog Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '201':
          description: Request created successfully
  /datasets/{dataset_id}:
    get:
      tags:
        - Dataset
      summary: Returns a dataset
      description: Returns the dataset of given datasetId
      operationId: getDatasetById
      parameters:
        - name: dataset_id
          in: path
          description: Dataset Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '404':
          description: Given Dataset ID doesn't exist
          content: { }
    put:
      tags:
        - Dataset
      summary: Update the dataset
      description: Update the given dataset
      operationId: updateDatatset
      parameters:
        - name: dataset_id
          in: path
          description: Dataset Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: New Dataset object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '204':
          description: Datset updated successfully
        '500':
          description: Given dataset ID doesn't exist
          content: { }
    delete:
      tags:
        - Dataset
      summary: Delete a dataset
      description: Delete the dataset of given datasetId
      operationId: deleteDatasetById
      parameters:
        - name: dataset_id
          in: path
          description: Dataset Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given Dataset ID doesn't exist
          content: { }
  /datasets/{dataset_id}/permissions:
    get:
      tags:
        - Dataset
      summary: Returns a dataset permissions
      description: Returns the dataset permissions of given datasetId
      operationId: getDatasetPermissionsById
      parameters:
        - name: dataset_id
          in: path
          description: Dataset Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetRoleDto'
        '404':
          description: Given Dataset ID doesn't exist
          content: { }

  /datasetRoles:
    post:
      tags:
        - DatasetRole
      summary: Creates a new dataset role for the given dataset and user request
      description: Creates a new dataset role for the given dataset request.
      operationId: addDatasetRole
      requestBody:
        description: New datasetRole Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetRoleDto'
      responses:
        '201':
          description: DatasetRole added successfully

  /datasetRoles/{dataset_role_id}:
    get:
      tags:
        - DatasetRole
      summary: Returns a dataset role
      description: Returns the dataset role of given datasetRoleId
      operationId: getDatasetRoleById
      parameters:
        - name: dataset_role_id
          in: path
          description: DatasetRole Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetRoleDto'
        '404':
          description: Given Dataset Role ID doesn't exist
          content: { }
    put:
      tags:
        - DatasetRole
      summary: Update the dataset role
      description: Update the given dataset role
      operationId: updateDatasetRole
      parameters:
        - name: dataset_role_id
          in: path
          description: Dataset Role Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: New DatasetRole object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetRoleDto'
      responses:
        '204':
          description: DatsetRole updated successfully
        '500':
          description: Given datasetRole ID doesn't exist
          content: { }
    delete:
      tags:
        - DatasetRole
      summary: Delete a datasetRole
      description: Delete the datasetRole of given datasetRoleId
      operationId: deleteDatasetRoleById
      parameters:
        - name: dataset_role_id
          in: path
          description: DatasetRole Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given DatasetRole ID doesn't exist
          content: { }
  /tasks:
    get:
      tags:
        - Task
      summary: Get all tasks
      description: Returns the list of tasks
      operationId: getAllTasks
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
        '404':
          description: Error
          content: { }
  /tasks/me:
    get:
      tags:
        - Task
      summary: Get my tasks
      description: Returns the list of current user's tasks
      operationId: getMyTasks
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDto'
        '404':
          description: Error
          content: { }
  /tasks/{task_id}:
    get:
      tags:
        - Task
      summary: Returns task
      description: Returns the task of given task_id
      operationId: getTaskById
      parameters:
        - name: task_id
          in: path
          description: Task Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDto'
        '404':
          description: Given task ID doesn't exist
          content: { }
    delete:
      tags:
        - Task
      summary: Delete task
      description: Delete the task of given task_id
      operationId: deleteTaskById
      parameters:
        - name: task_id
          in: path
          description: Task Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given task ID doesn't exist
          content: { }
  /annotation_tasks/{annotation_task_id}:
    get:
      tags:
        - Task
      summary: Returns annotation task
      description: Returns the task of given annotation_task_id
      operationId: getAnnotationTaskById
      parameters:
        - name: annotation_task_id
          in: path
          description: Annotation Task Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationTaskDto'
        '404':
          description: Given annotation task ID doesn't exist
          content: { }
  /annotation_data/{annotation_data_id}:
    get:
      tags:
        - Task
      summary: Get annotation data
      description: Returns annotation data corresponding to the uuid
      operationId: getAnnotationDataById
      parameters:
        - name: annotation_data_id
          in: path
          description: Annotation Data Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnnotationDataDto'
        '404':
          description: Error
          content: { }
  /annotation_tools:
    get:
      tags:
        - Tool
      summary: Get annotation tools
      description: Returns the list of annotation tools
      operationId: getAnotationTools
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnnotationToolDto'
        '404':
          description: Error
          content: { }
    post:
      tags:
        - Tool
      summary: Creates a new annotation tool for the given tool request
      description: Creates a new annotation tool for the given tool request
      operationId: addAnnotationTool
      requestBody:
        description: New Tool Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationToolDto'
      responses:
        '201':
          description: Tool added successfully
  /annotation_tools/{annotation_tool_id}:
    get:
      tags:
        - Tool
      summary: Get annotation tool
      description: Returns annotation tool corresponding to the uuid
      operationId: getAnnotationToolById
      parameters:
        - name: annotation_tool_id
          in: path
          description: Annotation Tool Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationToolDto'
        '404':
          description: Error
          content: { }

  /data_catalogs:
    get:
      tags:
        - Catalog
      summary: Get data catalogs
      description: Returns the list of adata catalogs
      operationId: getDataCatalogs
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataCatalogDto'
        '404':
          description: Error
          content: { }
    post:
      tags:
        - Catalog
      summary: Creates a new data catalog for the given request
      description: Creates a new data catalog for the given request
      operationId: addDataCatalog
      requestBody:
        description: New Catalog Request object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCatalogDto'
      responses:
        '201':
          description: Catalog added successfully
  /data_catalogs/{data_catalog_id}:
    get:
      tags:
        - Catalog
      summary: Get data catalog
      description: Returns data catalog corresponding to the uuid
      operationId: getDataCatalogById
      parameters:
        - name: data_catalog_id
          in: path
          description: Data Cataliog Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCatalogDto'
        '404':
          description: Error
          content: { }
    put:
      tags:
        - Catalog
      summary: Update the data catalog
      description: Update the given data catalog
      operationId: updateDataCatalog
      parameters:
        - name: data_catalog_id
          in: path
          description: DataCatalog Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: New DataCatalog object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCatalogDto'
      responses:
        '204':
          description: DataCatalog updated successfully
        '500':
          description: Given DataCatalog ID doesn't exist
          content: { }
    delete:
      tags:
        - Catalog
      summary: Delete a DataCatalog
      description: Delete the DataCatalog of given id
      operationId: deleteDataCatalogById
      parameters:
        - name: data_catalog_id
          in: path
          description: DataCatalog Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given DataCatalog ID doesn't exist
          content: { }
  /data_catalogs/{data_catalog_id}/{table_name}:
    get:
      tags:
        - Catalog
      summary: Get table from data catalog
      description: Returns the table from data catalog corresponding to the uuid
      operationId: getTableFromDataCatalog
      parameters:
        - name: data_catalog_id
          in: path
          description: Data Cataliog Identifier
          required: true
          schema:
            type: string
            format: uuid
        - name: table_name
          in: path
          description: Table name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableDto'
        '404':
          description: Error
          content: { }
  /data_catalog_metadata/{data_catalog_id}:
    get:
      tags:
        - Catalog
      summary: Get Metadata from data catalog
      description: Returns the Metadata from data catalog corresponding to the uuid
      operationId: getMetadataDataCatalog
      parameters:
        - name: data_catalog_id
          in: path
          description: Data Cataliog Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetMetadataDto'
        '404':
          description: Error
          content: { }
  /data_access_request/owner:
    get:
      tags:
        - Catalog
      summary: Get all data request access for current user
      description: Returns the list of data request access
      operationId: getOwnerDataAccessRequests
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataAccessRequestDto'
        '404':
          description: Error
          content: { }
  /data_access_request/requester:
    get:
      tags:
        - Catalog
      summary: Get all data request access for current user
      description: Returns the list of data request access
      operationId: getRequesterDataAccessRequests
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataAccessRequestDto'
        '404':
          description: Error
          content: { }
  /data_access_request/{data_access_request_id}:
    get:
      tags:
        - Catalog
      summary: Get data request access
      description: Returns the data request access corresponding to the uuid
      operationId: getDataAccessRequestById
      parameters:
        - name: data_access_request_id
          in: path
          description: Data Access Request Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessRequestDto'
        '404':
          description: Error
          content: { }
    put:
      tags:
        - Catalog
      summary: Update the data request access
      description: Update the given data request access
      operationId: updateDataAccessRequest
      parameters:
        - name: data_access_request_id
          in: path
          description: Data request access Identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: New Data request access object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAccessRequestDto'
      responses:
        '204':
          description: Data request access updated successfully
        '500':
          description: Given data request access ID doesn't exist
          content: { }
    delete:
      tags:
        - Catalog
      summary: Delete a data request access
      description: Delete the data request access of given data_access_request_id
      operationId: deleteDataAccessRequestById
      parameters:
        - name: data_access_request_id
          in: path
          description: Data request access Identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: successful operation
        '404':
          description: Given Dataset ID doesn't exist
          content: { }
  /data_access_request/{data_access_request_id}/update_status/{status}:
    get:
      tags:
        - Catalog
      summary: Update the status of the data access request
      description: Update the status of the data access request
      operationId: updateDataAccessRequestStatus
      parameters:
        - name: data_access_request_id
          in: path
          description: Data request access Identifier
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: path
          description: Data request access status
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Data request access updated successfully

